{% extends "./base.html" %}

{% load static %}


{% block title %}
    Editar producto
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/Styleee.css' %}" >
<link rel="stylesheet" href="{% static 'css/stylee.css' %}" >

{% endblock %}



{% block body %}


    <h1>Editar productos</h1>

    <div class="container mb-5 mt-5">
        <form id="formEditarProducto" action="/editarprod" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label style="color: yellow;"for="txtSku">SKU:</label>
                    <input value="{{prod.sku}}" name="txtSku" id="txtSku" class="form-control" type="text">
                    
                </div>
                <div class="col-md-6">
                    <label style="color: yellow;" for="txtPrecio">Precio:</label>
                    <input value="{{prod.precio}}" name="txtPrecio" id="txtPrecio" class="form-control" type="text">
                    
                </div>
                <div class="col-md-6">
                    <label style="color: yellow;" for="txtNombre">Nombre:</label>
                    <input value="{{prod.nombre}}" name="txtNombre" id="txtNombre" class="form-control" type="text">
                   
                </div>
                <div class="col-md-6">
                    <label style="color: yellow;" for="txtImagen">Imagen:</label>
                    <img src="{{prod.imagen.url}}" height="100" alt="">
                    <input name="txtImagen" id="txtImagen" class="form-control" type="file">
                </div>
                <div class="col-md-6">
                    <label style="color: yellow;" for="txtDescripcion">Descripción:</label>
                    <input value="{{prod.descripcion}}" name="txtDescripcion" id="txtDescripcion" class="form-control" type="text">
                </div>
                <div class="col-md-6">
                    <label style="color: yellow;" for="txtStock">Stock:</label>
                    <input value="{{prod.stock}}" name="txtStock" id="txtStock" class="form-control" type="text">
                </div>
                <div class="col-md-6">
                    <label style="color: yellow;" for="txtSku">Categoria:</label>
                    <select name="cmbCategoria" id="cmbCategoria" class="form-select" aria-label="Default select example">
                        <option disabled selected>Seleccione</option>
                        {% for i in cate %}
                        <option value="{{i.id_categoria}}" {% if i.id_categoria == prod.categoria_id.id_categoria %} selected {% endif %} >{{i.nombre}}</option>
                        {% endfor %}
                      </select>
                </div>
            </div>
            <button  class="guardar">Guardar</button>
        </form>
        <a href="/principal">
            <button  class="atras"> atras</button>
        </a>
    </div>

{% endblock %}


{% block script %}

<script src="{% static 'js/funciones2.js' %}"></script>
<script src="{% static 'js/funciones.js'%}"></script>
{% endblock %}